* {
    font-family: 'Nunito', sans-serif;
}
body {
    background-color: #ecf0f1;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.5rem 22rem;
}
.form {
    position: absolute;
    top: 30%;
    left: 30px;
}
h1 {
    margin: .5rem;
    border: 1px solid black;
    color: white;
    background-color: white;
    padding: .3rem;
    font-size: 1.7rem;
}

input[type="number"], input[type="submit"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
    border: 3px solid black;
    outline: none;
}

input[type="number"]:focus {
    border: 3px solid #f39c12;
}

input[type="submit"] {
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
}

input[type="submit"]:hover {
    border: 3px solid #f39c12;
    background-color: #f39c12;
    color: white;
}